/* Your SCSS here. */


.element {
    //display: inline-block;
    width: 100%;
    max-width: 100%;
    margin:0;
    padding:0;
    display:inline-block;
}
.element.header {
    position: relative;
    background-color: darkslategray;
    height: 50px;
    max-height: 50px;
}
.element.header.foot {
    position:absolute;
    bottom: 0px;
}
.element.p1{
    background-color: rgb(146, 81, 147);
    height: 200px;
    max-height: 200px;
}